body
{
    position: absolute;
    background-color: #696969;
}

#settings-container
{
   background-color: lightgrey;
   padding-left: 250px;
   padding-right: 250px;
   padding-bottom: 50px;
   background-clip: content-box;
}
