/*.column {*/
  /*float: left;*/
  /*width: 50%;*/
  /*align-content: stretch;*/
/*}*/

/*!* Clear floats after the columns *!*/
/*.row:after {*/
  /*content: "";*/
  /*display: grid;*/
  /*grid-template-columns: 3fr;*/
/*}*/

body
{
    min-width: 200px; /* your desired width */
    max-width: 100%;
    position: relative;
    vertical-align: middle;
    background-color: #696969;
}

label
{
   position: relative;
   display: inline-block;
   float: left;
   clear: left;
}


#font-select
{
   display: inline-block;
   width: 150px;
}

#font-style-select
{
   display: inline-block;
   width: 150px;
}

#font-size-select
{
   display: inline-block;
   width: 150px;
}

.font, .font-style, .font-size
{
   width: 100%;
}
