body {
    min-width: 200px; /* your desired width */
    max-width: 100%;
    position: relative;
    vertical-align: middle;
    background-color: #696969;

}

h1.title{
    text-align: center;
    text-decoration: underline;
}

img.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p.popup, p#display-settings-desc{
    text-align: center;
}

input.activate {
    height:25px;
    width:100px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

li a {
    border-bottom: 2px solid gray;
    font-size: 20px;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: white;
    background-color: #111;
}